.eventos-section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;

    @media screen and (min-width:768px) {
        padding: 1rem;
    }
    //List of events
    .eventos-container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 1rem;

        .no-eventos-info {
            color: white;
            font-weight: 500;
            font-size: 1.3rem;
            margin: 1rem;
            width: 100%;
        }
        .evento-card {
            padding: 1rem;
            background-color: white;
            border-radius: 16px;
            width: 100%;
            text-decoration: none;
            transition: background-color .3s ease-in;
            cursor: pointer;
            position: relative;

            @media screen and (min-width:768px) {
                width: 30%;
            }
            &:hover {
                background-color: darken(white, 25);
                .evento-card-number {
                    color: lighten(#0e0e0e, 15);
                }
            }
            .evento-card-header {
                padding: 1rem 0;
                border-bottom: 2px solid lightgrey;
                h3 {
                    margin: 0;
                    font-weight: bold;
                }
            }
            .evento-card-body {
                padding: 1rem 0;
                .subtitle {
                    font-weight: 600;
                }
                .silent {
                    color: darken(#ced4da, 15);
                    font-size: 0.9rem;
                    font-weight: 500;
                }
            }
            .evento-card-number {
                position: absolute;
                bottom: 1rem;
                right: 1rem;
                color: lightgrey;
                font-size: 1.3rem;
            }
        }
    }
    // Event detail
    .evento-detail {

    }
    // Event creation
    .evento-create {

    }

}